<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper" layout:fragment="content">
    <link rel="stylesheet" th:href="@{css/notice/noticeboard.css}">
    <div id="main_wrap">
      <table class="titleName">
        <tr>
          <td>
            <h1>공지 사항 관리</h1>
          </td>
        </tr>
      </table>
      <hr>
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>날짜</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="obj : ${dataList}">
              <td>
               <span th:text="${obj.noticeNo}"></span>
              </td>
              <td>
                <a href="#">
                  <span th:text="${obj.noticeTitle}"></span>
                </a>
              </td>
              <td>
                 <span th:text="${obj.createDate}"></span>
              </td>
            </tr>
          </tbody>
      </table>
      <br>
      <span>
        <a class="btn btn-primary">글쓰기</a>
      </span>
    </div>
        <div th:with ="start = ${paging.pageRangeStart}, end =${paging.pageRangeEnd}">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            
               <li class="page-item"  th:each="page: ${#numbers.sequence(start, end)}" >
               		<a class="page-link" href="#" th:onclick="getPage([[${page}]])"> 
               			<span  th:style="${page == currentPage ? 'font-weight: bold;' : ''}"   th:text="${page}"></span>
               		</a>
               </li>
            
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
     </div>
   </div>
   <script>

		  function getPage(currentPage) {
			  location.href  = '/notice?currentPage=' + currentPage;
		  }

	</script>
</div>
</html>